*
{
	font-family: "Verdana", sans-serif;
}
.form
{
	box-shadow: 0 0 1px 0;
	position: relative;
	margin: 50px auto;
	max-width: 320px;
	padding: 30px;
	text-align: center;
	z-index: 1;
}
.form button,input
{
	border: 0;
	font-size: 14px;
	outline: 0;
	padding: 20px;
	width: 100%;
}
.form button
{
	background: purple;
	color: #FFFFFF;
	cursor: pointer;
}
.form button:active
{
	background: #cc0066;
}
.form input
{
	background: #e2e2e2e2;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.links{
	text-align: center;
}
h1{
	text-align: center;
	font-style: sans-serif,arial;
	font-size: 40px;
	color:#cc0066;
	text-transform: uppercase;
}
a:hover{
	color: orangered;
}